$breakpoint-md: 769px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1920px;

$minmaxwidth-mobile: 270px;
$minmaxwidth-md: 768px;
$minmaxwidth-lg: 992px;
$minmaxwidth-xl: 1200px;
$minmaxwidth-xxl: 1400px;
$minmaxwidth-xxxl: 1920px;

@mixin mobile {
    @media (min-width: $minmaxwidth-mobile){
        @content
    }
}
@mixin md {
    @media (min-width: $breakpoint-md) {
        @content
    }
}
@mixin lg {
    @media (min-width: $breakpoint-lg) {
        @content
    }
}
@mixin xl {
    @media (min-width: $breakpoint-xl) {
        @content
    }
}
@mixin xxl {
    @media (min-width: $breakpoint-xxl) {
        @content
    }
}
@mixin xxxl {
    @media (min-width: $breakpoint-xxxl) {
        @content
    }
}


@mixin bp-md {
    @media (max-width: $breakpoint-md) {
        @content
    }
}
@mixin bp-lg {
    @media (max-width: $breakpoint-lg) {
        @content
    }
}
@mixin bp-xl {
    @media (max-width: $breakpoint-xl) {
        @content
    }
}
@mixin bp-xxl {
    @media (max-width: $breakpoint-xxl) {
        @content
    }
}
@mixin bp-xxxl {
    @media (max-width: $breakpoint-xxxl) {
        @content
    }
}