html, body{
  height: 100vh;
}

.container .footer{
  position: absolute;
  top: 100%;
}
.footer {
  
    display: grid;
    grid-template-areas: 
    "title title"
    "phone-number company-name"
    "phone-hours adress";
  left: 0;
  width: 100%;
  background-color: #ff7373;
  color: #222529;
  padding-top: 15px;
  justify-content: space-around;
}

.footer .title{
  text-decoration: underline;
}

.title{grid-area: title;}

.adress{grid-area: adress;}

.company-name{grid-area: company-name;}

.phone-number{grid-area: phone-number;}

.phone-hours{grid-area: phone-hours;}

.input-form{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  border: 5px #222529;
}

.contact-message{
  display: grid;
  justify-content: center;
  padding-top: 15px;
  text-align: center;
}
