.contact-form {
    .container{
        .form-title{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form-parent{
            .first-2-inputs{
                margin-left: 100px;
                margin-right: 100px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
                .contact-form-name{
                    #name{
                        width: 100%;
                        height: 50px;
                    }
                }
                .contact-form-email{
                    #email{
                        width: 100%;
                        height: 50px;
                    }
                }
            }
            .comments-parent{
                margin-left: 100px;
                margin-right: 100px;
                .contact-form-comments{
                    #comments{
                        width: 100%;
                        height: 200px;
                    }
                }
                #form-submit-button{
                    width: 15%;
                    margin-bottom: 100px;
                    > .btn-theme {
                        padding: 0;
                        text-decoration: none;
                        font-size: 1rem;
                        display: inline-block;
                        transition: background-color 0.25s;
                        position: relative;
                    }
                }
            }
        }
    }
}

.error-holder{
    height: 30px;
    .error{
        display: none;
        color: $color-theme;
    }
}



@include bp-md{

    .contact-form {
        .container{
            .form-parent{
                display: block;
                
                .first-2-inputs{
                    justify-self: flex-start;
                    margin: 0;
                    display: block;
                }
                .comments-parent{
                    justify-self: flex-start;
                    margin: 0;

                    #form-submit-button{
                        width: 100%;
                    }
                }
            }
        }
    }
    
    .error-holder{
        height: 40px;
        .error{
            display: none;
            color: $color-theme;
        }
    }
}