.popular-products{
    display: flex;
    justify-content: center;

    .popular-products-container{
        margin-top: 50px;
        width: 100%;
        display: flex;
        
        .popular-products-box{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background-color: $color-dark-4;
            margin-right: 30px;
            width: 750px;
            height: 664px;
            
            .text-in-box{
                font-size: 3em;
                color: $color-light-1;
                font-weight: $font-weight-black;
            }
            #popular-products-button{
                position: absolute;
                bottom: 30%;
                width: 210px;
            }
        }

        #popular-products-grid{
            display: grid;
            grid-template-areas:
            "product0 product1 product2"
            "product3 product4 product5";
            gap: 20px;
            width: 50px;

            .product-card-image-container{
                max-width: 200px;
                max-height: 160px;
                display: flex;
                justify-content: center;
    
                img{
                    max-width: 200px;
                    max-height: 160px;
                }
            }
            .product-card-category{
                font-size: 13px;
                font-weight: $font-weight-regular;
                color: grey;
            }
            .product-card-title{
                font-size: 16px;
            }
            .product-card-rating{
                color: $color-theme;
                font-size: 16px;
            }
            .product-card-price{
                font-size: 16px;
            }

            #null-product-0{
                grid-area: product0;
            }
            #null-product-1{
                grid-area: product1;
            }
            #new-product-0{
                grid-area: product2;
            }
            #new-product-1{
                grid-area: product3;
            }
            #new-product-2{
                grid-area: product4;
            }
            #new-product-3{
                grid-area: product5;
            }
        }
    }
}