 .box{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid black;
}

#grandparent{

}

#parent{
    
}

#child1{

}

#child2{
    
} 

#upparrow {
    position: absolute;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    right: 20px;
    bottom: 20px;


}